extends layout

block content
  // Sidebars
  div.sidebar.sidebar-left(
    ng-include="'sidebarLeft'", 
    ui-track-as-search-param='true')
  div.sidebar.sidebar-right(ng-include="'sidebarRight'")
  div.app(
    ui-swipe-right='Ui.turnOn("uiSidebarLeft")', 
    ui-swipe-left='Ui.turnOff("uiSidebarLeft")')
    // Navbars
    div.navbar.navbar-app.navbar-absolute-top
      div.navbar-brand.navbar-brand-center(ui-yield-to='title')
        | MAD
      div.btn-group.pull-left
        div.btn.sidebar-toggle(ui-toggle='uiSidebarLeft')
          i.fa.fa-bars
          |  Menu
      div.btn-group.pull-right(ui-yield-to='navbarAction')
        div.btn(ui-toggle='uiSidebarRight')
          i.fa.fa-comment
          |  Direction to POI
    div.navbar.navbar-app.navbar-absolute-bottom
      div.btn-group.justified
        a.btn.btn-navbar(href='https://openisdm.iis.sinica.edu.tw/')
          i.fa.fa-home.fa-navbar
          |  OpenISDM
        a.btn.btn-navbar(href='https://github.com/OpenISDM/MAD-IS-NodeJS')
          i.fa.fa-github.fa-navbar
          |  Sources
        a.btn.btn-navbar(href='http://www.iis.sinica.edu.tw/')
          i.fa.fa-exclamation-circle.fa-navbar
          |  Donate
    // App Body
    div.app-body(ng-class='{loading: loading}')
      div.app-content-loading(ng-show='loading')
        i.fa.fa-spinner.fa-spin.loading-spinner
      div.app-content
        ng-view
  // ~ .app
  div(ui-yield-to='modals')
