.scrollable
	.scrollable-content
		leaflet(lf-center='center', url-hash-center="yes", width='100%', height='100%', geojson='geojson', defaults="defaults", watch-markers="true")
		//- leaflet(lf-center='center', url-hash-center="yes", width='100%', height='100%', geojson='geojson', markers='markers')
