extends layout

block content
	.scrollable
		.scrollable-content
			.list-group(ui-toggle='uiSidebarRight')
				a.list-group-item.media(
					ng-repeat='item in markers', 
					ng-click="moveToMarker(item.message)")
					.pull-left
						i.fa.fa-location-arrow.fa-3x
					.media-body
						h5.media-heading {{item.message}}
						span.label.label-success {{item.distance}} km
